{% extends "layout.html" %}
{% block stateplots %}

    <div class="plots row">
      <div class="col-lg-6">
        <iframe id="inlineFrameExample"
          title="Inline Frame Example"
          style = "width: 500px; height: 500px;"
          src={{ response[0]|safe }}>
        </iframe>
        <p style="margin-top: 10px; text-align: center;">State Plot</p>
      </div>
      <div class="col-lg-6">
        <iframe id="inlineFrameExample"
          title="Inline Frame Example"
          style = "width: 500px; height: 500px;"
          src={{ response[1]|safe }}>
        </iframe>
        <p style="margin-top: 10px; text-align: center;">State Plot</p>
      </div>
    </div>

{% endblock %}
