
p{
  color: #e3e3e3;
}

body{
  background-color: #000;
  color: #e3e3e3;
  font-family: 'Raleway';
}

a{
  color: #e3e3e3;
}

a:hover{
  color: #f95959;
  text-decoration: none;
}
/* *******************NAVIGATOION BAR****************** */
.navbar{
  background-color: #374955;
  font-size: 1rem;
  font-family: 'Raleway';
}

.navbar-toggler-icon{
  padding-top: 15%;
}

.nav-link{
  color: #e3e3e3;
  margin: 5px 10px;
  padding: 1px 2px;
}
.nav-link:hover{
  color: #f95959;
}

.navbar-brand{
  font-size: 2rem;
  padding-left: 15px;
  color: #f95959;
  font-family: 'Risque';
  margin-bottom: 0;
}

.worldmap{
  padding: 0 0;
  margin-top: 100px;
}

/* **********************Content****************** */

.intro{
  padding-left: 5%;
  padding-right: 5%;
  letter-spacing: 1.5;
  margin: 50px 0;
}
.intro h3{
  text-align: center;
  font-family: 'Oswald';
  font-size: 1.75rem;
  color: #f95959;
}

.state-maps{
  display: none;
}
/* *********************Footer*********************** */
footer{
  background-color: #374955;
}
 .cpr{
   color: #3749A5;
   font-size: 20;
 }
